﻿@model IEnumerable<wms_mysql_.Models.location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using(Html.BeginForm())
{ 
    <input type="text" name="search" id="search" onkeydown="if(event.keyCode==13){this.form.submit();}" />
}


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X_Coordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y_Coordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pallet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X_Coordinate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y_Coordinate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pallet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Location_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Location_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Location_ID })
            @*@Html.BeginForm("Confirm","putaway"())
            {

            }*@
        </td>
    </tr>
}

</table>
