﻿@model IEnumerable<wms_mysql_.Models.column>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Column_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Column_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Column_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Column_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Column_ID })
        </td>
    </tr>
}

</table>
