﻿@model wms_mysql_.Models.receiving
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}         
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h1>Receiving</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <style type="text/css">

            /*body {
            text-align: center;
            }*/

            #labels {
                margin-left: 20px;
            }

            #label {
                text-align: left;
                margin-left: 13px;
            }

            #textbox3 {
                margin-left: 140px;
                margin-top: -6%;
                display: block;
                width: 290px;
                height: 30px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.428571429;
                color: #555555;
                vertical-align: middle;
                background-color: #ffffff;
                border: 1px solid #cccccc;
                border-radius: 4px;
            }

            #textbox4, #Date {
                margin-top: -3%;
                margin-left: 140px;
                display: block;
                width: 290px;
                height: 30px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.428571429;
                color: #555555;
                vertical-align: middle;
                background-color: #ffffff;
                border: 1px solid #cccccc;
                border-radius: 4px;
                margin-bottom: 25px;
            }

            #textbox {
                display: none;
            }

            .button1 {
                border-radius: 1px;
                border: 1px #2e83cb;
                background-color: #237ad9;
                color: #ffffff;
                padding: 5px 5px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 10px;
                margin-left: 50px;
                position: center;
                left: auto;
                right: auto;
            }

            .field1 {
                width: 600px;
                border: thin solid;
                float: right;
                text-align: left;
            }



            .field2 {
                width: 500px;
                border: thin solid;
                float: left;
                text-align: center;
            }



            div.table {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                background: white;
                width: 900px;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-top: 10px;
                text-align: left;
                border-top: 20px;
            }

            div.table2 {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                background: white;
                width: 900px;
                height: auto;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-bottom: 10px;
            }

            div.table3 {
                border-radius: 20px;
                margin-top: 10px;
                display: inline-block;
                background: #DCDCDC;
                flood-opacity: initial;
                width: 930px;
                height: 630px;
                position: center;
                height: auto;
                text-align: left;
            }

            h1 {
                padding: -2em;
                text-shadow: 3px 3px 3px gray;
                font-family: initial;
                box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
                height: 40px;
                width: 930px;
                margin: 10px auto;
                margin-bottom: 10px;
            }


            /*------------------------------------------------------------------------------------------------------------*/
            div.popup-position {
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.7);
                width: 100%;
                height: 100%;
                display: none;
            }

            div#popup-wrapper {
                width: auto;
                height: auto;
                margin: 70px 70px;
                text-align: center;
            }

            .button {
                 display: block;
        border: 1px solid lightgray;
        background: lightgray;
        width: 100px; height: 30px;
        color: black;
        margin-bottom: 30px;
        margin-right: 30px;
        border-radius: 8px;
        float: right;
        text-decoration-style: none;
        text-align: center;
        padding: 3px 3px;

            }

                .button:hover {
                    border-radius: 5px;
                    transition: all 0.9s ease-in-out;
                }

            table {
                border-collapse: collapse;
                /*width: 100%;*/
                width: 900px;
                position: center;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
            
                
                
                div#grad1 {
                border-radius: 10px;
                height: 200px;
                /*background: white;*/ /* For browsers that do not support gradients */
                /*background: linear-gradient(white, lightgray);*/ /* Standard syntax (must be last) */
                width: 900px;
                height: auto;
                margin: 10px auto;
            }

            div#background {
                border-radius: 20px;
                margin-top: 10px;
                display: inline-block;
                background: #DCDCDC;
                flood-opacity: initial;
                width: 930px;
                height: auto;
                position: center;
            }

            label {
                display: block;
                border: 1px solid lightgray;
                background: lightgray;
                width: 100px;
                height: 30px;
                color: black;
                margin-bottom: 30px;
                margin-right: 30px;
                border-radius: 8px;
                float: right;
                text-decoration-style: none;
                text-align: center;
                padding: 3px 3px;
            }

                label:hover {
                    background: white;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }


            a {
                text-decoration: none;
                color: black;
                font-family: inherit;
                font-size: 13px;
            }

                a:hover {
                    text-decoration: none;
                    box-decoration-break: slice;
                    color: black;
                }

            form {
                float: right;
                /*margin-left: -10px;*/
                font-weight: bolder;
                font-size: 50px;
                color: white;
                margin: 0;
            }

                form a {
                    color: white;
                }

                 .button1 {
        display: block;
        border: 1px solid lightgray;
        background: lightgray;
        width: 100px; height: 30px;
        color: black;
        margin-bottom: 30px;
        margin-right: 30px;
        border-radius: 8px;
        float: right;
        text-decoration-style: none;
        text-align: center;
        padding: 3px 3px;
        }

       .button1:hover {
        background: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

            input {
            background: gray;
            color: red;
            }


        </style>
        <script type="text/javascript">
            function myFunction() {
                document.getElementById("myForm").submit();
            }
            function toggle_visibility(id) {
                var e = document.getElementById(id);
                if (e.style.display == 'block')
                    e.style.display = 'none';
                else
                    e.style.display = 'block';
            }
            function warning() {
                var text = document.getElementById("textbox3").value;
                var text1 = document.getElementById("textbox4").value;
                var text2 = document.getElementById("Date").value;
                if (text == "" && text1 != "" && text2 != "") {
                    window.alert("Generate Control#");
                    document.getElementById("textbox3").readOnly = true;
                }
                if (text1 == "" && text != "" && text2 != "") {
                    window.alert("Input Number of Items")
                }
                if (text1 != "" && text != "" && text2 == "") {
                    window.alert("Input Date")
                }
                if (text == "" && text1 == "" && text2 == "") {
                    window.alert("Generate Control# / Input Number of Items/Input Date")
                }

            }
            function create() {
                var text = document.getElementById("textbox3").value;
                var text1 = document.getElementById("textbox4").value;
                var text2 = document.getElementById("Date").value;
                if (text != "" && text1 != "" && text2 != "") {
                    window.alert("Items Received");

                }
                

            }

            function myfunction() {

                function randomString(length, chars) {
                    var result = '';
                    for (var i = length; i > 0; --i) result += chars[Math.floor(Math.random() * chars.length)];
                    return result;
                }
                var rString = randomString(9, '01234567891234567890');
                xtbox3 = document.getElementById('textbox3');
                textbox3.value = rString;
                document.getElementById("textbox3").readOnly = true;
                document.getElementById("button1").disabled = true;

            }
            function submition() {
                var rstring = "true"
                document.getElementById("textbox");
                textbox.value = rstring;
            }

        </script>
<body>
        <form id="myForm" action="form_action.asp">
            <div class="table3">
                <div class="table">
                    <h2>Depositor Details</h2>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer_Customer_ID, "Depositor Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10"> 
                            @Html.DropDownList("Customer_Customer_ID", null, htmlAttributes: new { @class = "form-control" }) 
                            <input type="button" value="Add New Depositor" onclick="location.href='@Url.Action("Create","customers")'">
                            @Html.ValidationMessageFor(model => model.Customer_Customer_ID, "", new { @class = "text-danger" })
                           
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Column_Column_ID, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Column_Column_ID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Column_Column_ID, "", new { @class = "text-danger" })
                        </div>
                    </div>



                </div>

                <div class="table2">
                    <h2>Receiving Details</h2>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Item_Item_ID, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Item_Item_ID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Item_Item_ID, "", new { @class = "text-danger" })
                            <input type="button" value="Add New Item" onclick="location.href='@Url.Action("Create","items")'">
                        </div>
                    </div>
                    <p>
                        <label for="textbox3" @*id="label"*@ class="control-label col-md-2">Control #:</label>
                        <input class="text-center" type="text" name="textbox" id="textbox3" required readonly />
                        <input type="button" class="button1" name="button" id="button1" onclick="myfunction()" value="Generate Control#" />
                    </p>


                    <br><label for="textbox4" id="labels">Number of Items</label>
                    <input type="number" name="palletnumber" id="textbox4" required maxlength="9" />

                    <input type="text" name="textboxsub" id="textbox" required />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Package_Type, "Package Type", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @Html.EditorFor(model => model.Package_Type, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Package_Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <p>
                        <label for="Date" class="control-label col-md-2">Date</label>
                        <input class="text-box single-line" id="Date" name="Date" type="text" required />

                    </p>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, "Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-5">
                            @*@Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })*@
                            <textarea cols="20" id="Remarks" name="Remarks" rows="2"></textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            
                            <input type="submit" value="Add" class="button1" href="javascript:void(0)" onclick="warning(), create(),submition()" />
                        </div>
                    </div>

                    <div id="wrapper">
                        <button class="button"><text><a href="javascript:void(0)" onclick="toggle_visibility('popup-box1'), myFunction()">SUBMIT</a></text></button>
                    </div>
                    <div id="popup-box1" class="popup-position">
                        <div id="popup-wrapper">
                            <div id="popup-container">

                                <button><p><a href="javascript:void(0)" onclick="toggle_visibility('popup-box1');">CLOSE</a></p></button>
                                <br>
                                <div id="background">
                                    <div id="grad1">
                                        @Html.Action("Index", "receivings")

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table2">
            </div>
        </form>
        <script type="text/javascript">
        $(document).ready(function () {
        $("#Date").datepicker();
        });
    </script>
</div>
 
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" type="text/css" />
}

 </body>

