﻿@model wms_mysql_.Models.receiving

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>receiving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Batch_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Container_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Container_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Plate_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Plate_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.column.Column_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.column.Column_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.Item_Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.putaway.Receiving_Control_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.putaway.Receiving_Control_)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
