﻿@model wms_mysql_.Models.receiving

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>receiving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Batch_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Container_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Container_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Plate_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Plate_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.column.Column_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.column.Column_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customer.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customer.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.putaway.Receiving_Control_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.putaway.Receiving_Control_)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Control_ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
