﻿@model IEnumerable<wms_mysql_.Models.receiving>
<style type="text/css">
    /*table {
        border-collapse: collapse;
        /*width: 100%;
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        }*/
    div#grad1 {
        border-radius: 10px;
        height: 200px;
        /*background: white;*/ /* For browsers that do not support gradients */
        background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
        width: 900px;
        height: auto;
        margin: 10px auto;
    }

    /*div#background {
        border-radius: 20px;
        margin-top: 10px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 930px;
        height: auto;
        position: center;
        }*/

    table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: inherit;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
    }

    td {
        line-height: 22px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
    }

    tr:hover {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-style: italic;
        font-stretch: extra-expanded;
        font-family: 20px;
        /*transition-delay: .09s;*/
        color: white;
        background-color: darkgray;
        transition: all 0.1s ease-in-out;
        height: 60px;
    }

    th {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-weight: bold;
        font-variant-caps: all-petite-caps;
        font-size: 17px;
    }
    tr, table, th, td {
        border: 10px thick;
        border-collapse: collapse;
        padding: 7px;
        border-spacing: 5px;
        text-align:center;
        background:#F0F0F0;
            }
   


</style>
<h2>Receiving Table</h2>

<table>
    <tr>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th>
            @Html.DisplayName("Package Type")
        </th>
        <th>
            @Html.DisplayName("Location")
        </th>
        <th>
            @Html.DisplayName("Number of Items Received")
        </th>
        <th>
            @Html.DisplayName("Date Received")
        </th>
        <th></th>
    </tr>
</table>



@foreach (var item in Model)
{
    <table>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Item_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Package_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.column_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number_of_Items)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Submit", "Confirm", new { id = item.Control_ }, new { @class = "btn btn-primary", @style = "color:white" })
            </td>
        </tr>
    </table>
}


