﻿@{
    ViewBag.Title = "WMS";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Fixed Header</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <style type="text/css">
                body {
                    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg');
                    background-attachment: fixed;
                    background-position: top;
                    font: black;
                    margin: 0 auto;
                }

                * {
                    margin: 0px;
                    padding: 0px;
                }

                body {
                    font-family: Calibri;
                    background-color: #FFF;
                    padding: 80px;
                }

                h1 {
                    font-size: 13px;
                    text-align: center;
                    margin-bottom: 10px;
                }


                ul#navmenu, ul.sub1, ul.sub2 {
                    list-style-type: none;
                }

                    ul#navmenu li {
                        width: 100px;
                        text-align: center;
                        position: relative;
                        float: left;
                        margin-right: 50px;
                        margin-left: 50px;
                        color: black;
                        border-radius: 10px;
                        margin-top: 1%;
                        margin-bottom: 1%;
                    }

                    ul#navmenu a {
                        text-decoration: solid;
                        display: block;
                        width: 125px;
                        margin-top:125px;
                        position: center;
                        height: 25px;
                        line-height: 25px;
                        background-color: #bdbdbd;
                        border: 1px solid #494949;
                        border-radius: 10px;
                        color: black;
                        box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.2);
                    }

                    ul#navmenu li:hover > a {
                        background-color: #FFF;
                    }

                    ul#navmenu li:hover a:hover {
                        background-color: #FFF;
                    }


                div.image {
                    box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                    margin-top: -90px;
                    width: 4000px;
                }


                .column-left {
                    float: left;
                    width: 33%;
                    text-align: center;
                    margin-left: -6%;
                }

                .column-center {
                    display: inline-block;
                    width: 33%;
                    text-align: center;
                }

                .column-right {
                    float: right;
                    width: 33%;
                    text-align: center;
                    margin-right: 6%;
                }
                div.content {
                    display: inline-block;
                    width: 70%;
                }

                div.table1 {
                    display: inline-block;
                    border: 3px solid lightgray;
                    border-radius: 20px;
                    background: white;
                    width: 1000px;
                    padding-left: 5em;
                    text-align: left;
                    box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                    margin-top: 10px;
                }

                div.table2 {
                    border-radius: 20px;
                    margin-bottom: 10px;
                    margin-top: -30px;
                    display: inline-block;
                    background: #DCDCDC;
                    flood-opacity: initial;
                    width: 1050px;
                    height: auto;
                    position: center;
                    box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                }
    </style>
</head>

<body background="https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg">

    <div class="table2">
        <h1><img src="~/Content/Header with Logo_3.png" /></h1>

        <ul id="navmenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Feedbacks</a></li>
        </ul>

        <div class="content">

            <div id="cp_widget_da1d9a2b-7828-4d92-ae28-1a7f72f4caa4">...</div>
            <script type="text/javascript">
                var cpo = []; cpo["_object"] = "cp_widget_da1d9a2b-7828-4d92-ae28-1a7f72f4caa4"; cpo["_fid"] = "AYGALd9TwGUE";
                var _cpmp = _cpmp || []; _cpmp.push(cpo);
                (function () {
                    var cp = document.createElement("script"); cp.type = "text/javascript";
                    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                    var c = document.getElementsByTagName("script")[0];
                    c.parentNode.insertBefore(cp, c);
                })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting Platform</a> for Business solution.<span>New Gallery 2016/5/10</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 400</span><span>width</span><span> 600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 400</span><span>width</span><span> 600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span></noscript>

        </div>

        <div class="table1">
            <div class="container">

                <div class="column-left">
                    <font size="5" , font color="darkgray"><strong>Billing</strong></font>
                    <br>Billing is a process that is also included in Warehousing System. It bills the transactions based on the Client's needs.
                </div>

                <div class="column-center">
                    <font size="5" , font color="darkgray"><strong>Warehousing Sytem</strong></font>
                    <br>Warehousing system is a sytem that focus on warehouse operations. This includes Recieving, Put-away, Ordering, Picking and Issuance. Each functions plays a big role on the processing each items that came from the customers. It also includes other services like Warehouse Locator View, Warehouse Movement and Item Adjustments.
                </div>

                <div class="column-right">
                    <font size="5" , font color="darkgray"><strong>Customer Ordering</strong></font>
                    <br>Customer Ordering is another System that integrate's to iWMS. It's basic functions is the make ordering items from the storage easier for the client's customers.
                </div>

            </div>
        </div>

    </div>

</body>
</html>
