﻿@model IEnumerable<wms_mysql_.Models.customer>

@using (Html.BeginForm("table", "receivings", FormMethod.Get))
{
    @Html.TextBox("Search")
    <br />
}



@foreach (var item in Model) {
    
        <div>
            @Html.DisplayName("Name")
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </div>
    <div>
        @Html.DisplayName("Contact Number")
        @Html.DisplayFor(modelItem => item.Customer_Contact_Number)
    </div>
    @*<div>
        @Html.ActionLink("Edit", "Edit", new { id = item.Customer_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.Customer_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Customer_ID })
    </div>*@

 
    
    
}

