﻿@model IEnumerable<wms_mysql_.Models.picking>

@{
    ViewBag.Title = "Index";
}

<h1>Picking</h1>
<style type="text/css">
    h1 {
        padding: -2em;
        text-shadow: 3px 3px 3px gray;
        font-family: initial;
        box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
        height: 40px;
        width: 930px;
        margin: 10px auto;
        margin-bottom: 25px;
    }

    table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        text-align:center;
    }

    #textbox {
        height: 27px;
        border: solid;
        border-color: #6db8ee;
        font-style: normal;
        font-size: larger;
    }

    #button1 {
        height: 30px;
        width: 60px;
        background: round;
        border-radius: 5px;
        color: white;
        background-color: #0094ff;
    }

    th {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-weight: bold;
        font-variant-caps: all-petite-caps;
        font-size: 17px;
        /*border-radius:10%;*/
    }
    tr{
       text-align:center;
    }

    }

    td {
        line-height: 22px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
    }

    tr:hover {
        padding: 10px;
        /*text-align: left;*/
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-style: italic;
        font-stretch: extra-expanded;
        font-family: 20px;
        /*transition-delay: .09s;*/
        color: white;
        background-color: darkgray;
        transition: all 0.1s ease-in-out;
        height: 60px;
    }

    }
    /*th {
    background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
    border: 1px solid #B0B0B0;
    color: #444;
    font-size: 16px;
    font-weight: bold;
    padding: 3px 10px;
    height:auto;
    }*/

    div.table3 {
        border-radius: 20px;
        margin-top: 10px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 1000px;
        height: 630px;
        position: center;
        height: auto;
        text-align:center;
    }

    table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        text-align:center;
    }


    div#grad1 {
        border-radius: 10px;
        height: 200px;
        /*background: white;*/ /* For browsers that do not support gradients */
        background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
        width: 900px;
        height: auto;
        margin: 10px auto;
        text-align:center;
    }

    div#background {
        border-radius: 20px;
        margin-top: 10px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 930px;
        height: auto;
        position: center;
    }
</style>

<div id="background">
    <div class="table3">
        <div id="grad1">
            <table>
                <tr>
                    <th>
                        @Html.DisplayName("Customer Name")
                    </th>
                    <th>
                        @Html.DisplayName("Item Name")
                    </th>
                    <th>
                        @Html.DisplayName("Control#")
                    </th>
                    <th>
                        @Html.DisplayName("Number of Items to pick")
                    </th>
                    <th>
                        @Html.DisplayName("Location")
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>

                </tr>
            </table>
        </div>
    </div>
</div>

@foreach (var item in Model)
{
    <div id="grad1">
        <table>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordering_PutAway_Receiving_Control_)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_of_Items)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.column_name)
                </td>
                <td>
                    @Html.ActionLink("Confirm", "Confirm", new { id = item.Ordering_PutAway_Receiving_Control_ }, new { @class = "btn btn-primary", @style = "color:white" })
                    @*@Html.ActionLink("Details", "Details", new { id=item.Ordering_PutAway_Receiving_Control_ }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Ordering_PutAway_Receiving_Control_ })*@
                </td>
            </tr>
        </table>
        </div>
            }
        
