﻿@{
    ViewBag.Title = "WMS";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Fixed Header</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <style type="text/css">
                body {
                    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg');
                    /*background-repeat: no-repeat;*/
                    background-attachment: fixed;
                    background-position: top;
                    font: black;
                    margin: 0 auto;
                }

                * {
                    margin: 0px;
                    padding: 0px;
                }

                body {
                    font-family: Calibri;
                    background-color: #FFF;
                    padding: 100px;
                    /*text-align: center;*/
                }

                h1 {
                    font-size: 13px;
                    text-align: center;
                    /*border-bottom: 2px solid #000;
            border-top: 2px solid #000;*/
                    margin-bottom: 50px;
                }


                #header {
                    padding: 100px;
                }

                /* rules fornavigation menu */
                /* ================================ */

        ul#navmenu {
        margin-bottom: 40px;
        }

                ul#navmenu, ul.sub1, ul.sub2 {
                    list-style-type: none;
                }

                    ul#navmenu li {
                        margin-left:10%;
                        left:20px;
	                    width: 125px;
	                    text-align: center;
	                    position: relative;
	                    float: left;
                        color: black;
                        margin-bottom:20px;
                    }

                    ul#navmenu a {
                        text-decoration: solid;
                        display: block;
                        width: 125px;
                        position: center;
                        height: 25px;
                        line-height: 25px;
                        background-color: #bdbdbd;
                        border: 1px solid #494949;
                        border-radius: 10px;
                        color: black;
                    }

                    ul#navmenu .sub1 a {
                        margin-top: 5px;
                    }

                    ul#navmenu li:hover > a {
                        background-color: #FFF;
                    }

                    ul#navmenu li:hover a:hover {
                        background-color: #FFF;
                    }

                div#header-logo > a {
                    float: right;
                }


                div#search-input {
                    list-style-type: none;
                    text-decoration: none;
                    margin-left: auto;
                    display: block;
                    width: 70px;
                    height: 25px;
                    line-height: 25px;
                    float: right;
                }

                #search input[type='text'] {
                    list-style-type: none;
                    text-decoration: none;
                    height: 24px;
                    border: 1px solid;
                    width: 200px;
                    border-radius: 10px;
                }


                .button-search {
                    list-style-type: none;
                    background-image: url('/imagesStatic/searchIconHover.png');
                    text-decoration: none;
                    margin-left: auto;
                    display: block;
                    width: 70px;
                    height: 25px;
                    line-height: 25px;
                    background-color: #bdbdbd;
                    border: 2px solid #494949;
                    border-radius: 10px;
                    float: inherit;
                }

                #search-form {
                    list-style-type: none;
                    float: right;
                    text-decoration: none;
                }

        div.content {
            margin-left: 10%;
            width: 800px;
            height: 700px;
        }
                .column-left {
                    float: left;
                    width: 33%;
                }

                .column-right {
                    float: right;
                    width: 33%;
                }

                .column-center {
                    display: inline-block;
                    width: 33%;
                }

        div.container {
        margin-top: -10%;
        margin: auto;
        }

        div.table {
        margin: auto;
        background: #DCDCDC;
        width: 1000px;
        height: 980px;
        color: black;
        border-radius: 4px;
        }

        div.table2 {
        display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                background: white;
                width: 800px;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                
        }

    </style>

</head>

<body background="https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg">
    <ul id="navmenu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        @*<li><a href="#">Services</a></li>*@
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Feedbacks</a></li>
    </ul>
    <div class="table">
        <div>
            
        </div>
        <div class="content">

            <div id="cp_widget_da1d9a2b-7828-4d92-ae28-1a7f72f4caa4">...</div>
            <script type="text/javascript">
                var cpo = []; cpo["_object"] = "cp_widget_da1d9a2b-7828-4d92-ae28-1a7f72f4caa4"; cpo["_fid"] = "AYGALd9TwGUE";
                var _cpmp = _cpmp || []; _cpmp.push(cpo);
                (function () {
                    var cp = document.createElement("script"); cp.type = "text/javascript";
                    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                    var c = document.getElementsByTagName("script")[0];
                    c.parentNode.insertBefore(cp, c);
                })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting Platform</a> for Business solution.<span>New Gallery 2016/5/10</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 400</span><span>width</span><span> 600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 400</span><span>width</span><span> 600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span></noscript>
        </div>

    <div class="table2">
        <div class="container">
            <div class="column-left">
                <font size="5" , font color="darkgray"><strong>Billing</strong></font>
                <br>Billing is a process that is also included in Warehousing System. It bills the transactions based on the Client's needs.
            </div>

            <div class="column-center">
                <font size="5" , font color="darkgray"><strong>Warehousing Sytem</strong></font>
                <br>Warehousing system is a sytem that focus on warehouse operations. This includes Recieving, Put-away, Ordering, Picking and Issuance. Each functions plays a big role on the processing each items that came from the customers. It also includes other services like Warehouse Locator View, Warehouse Movement and Item Adjustments.
            </div>

            <div class="column-right">
                <font size="5" , font color="darkgray"><strong>Customer Ordering</strong></font>
                <br>Customer Ordering is another System that integrate's to iWMS. It's basic functions is the make ordering items from the storage easier for the client's customers.
            </div>
        </div>
    </div>
</div>

</body>
</html>
