﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-ui.min.js" type="text/javascript"></script>
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.ui.autocomplete.min.js")" type="text/javascript"></script>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style>
        div.navbar-nav:hover {
            display: block;
        }


        body {
            background-image: url('https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg');
            text-align: center;
            margin: 44px 0px 0px 0px;
        }


        article {
            position: fixed;
            width: 70%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 30px 15%;
            background-color: gray;
            overflow: auto;
            z-index: 0;
            transform-origin: 0 50%;
        }


            article:after {
                position: absolute;
                content: '';
                left: 100%;
                top: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

        nav {
            position: fixed;
            left: -18em;
            top: 0;
            bottom: 0;
            background-color: lightgray;
            /*border-right: 40px solid blue;*/
            box-shadow: 5px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            cursor:auto;
        }

            nav:after {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                right: -40px;
                top: 50%;
                border-width: 15px 15px;
                border-style: solid;
                border-color: transparent transparent transparent black;
            }

            nav ul {
                font-family: Calibri;
                width: 13em;
                list-style-type: none;
                font-size: 20px;
            }

            article, article:after, nav, nav * {
                transition: all 250ms ease;
            }

                nav:hover {
                    left: 0;
                }

                    

                nav li {
                    color: black;
                    padding: 5%;
                }

        ul#slideout li:hover > a {
            color: black;
            text-decoration: none;
            display: block;
            background-color: whitesmoke;
            font: 20px;
            border-style: groove;
            border-color: lightgray;
            transition: all 0.1s ease-in-out;
        }

        ul#slideout a {
            color: black;
        }

        div header {
            display: block;
            width: 100%;
            margin: 0 auto;
            height: 40px;
            background-color: gray;
            position: fixed;
            text-align: center;
        }

        div.topdiv {
            display: block;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            color: white;
            padding: 8px;
            background: black;
        }
        h1 {
        padding: -2em;
        text-shadow: 3px 3px 3px gray;
        font-family: initial;
        box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
        height: 40px;
        width: 930px;
        margin: 10px auto;
        margin-bottom: 10px;
        }


    </style>
</head>
<body background="https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg>

      <div class=" topdiv">
    @*</div>*@

    @*<div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>*@


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer><p></p></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <nav>
        <ul id="slideout">
            <li><a href="#"></a></li>
            @*Receiving = print name lang, Receiving = cshtml sa view; empty = controller*@
            <li>@Html.ActionLink("Home", "page", "receivings")</li>
            <li>@Html.ActionLink("Receiving","Create", "receivings")</li>
            <li>@Html.ActionLink("Put Away", "Index", "putaways")</li>
            <li>@Html.ActionLink("Ordering", "Index", "orderings")</li>
            <li>@Html.ActionLink("Picking", "Index", "pickings")</li>
            <li>@Html.ActionLink("Issuance", "Index", "issuances")</li>
            <li>@Html.ActionLink("Column", "Index", "columns")</li>
            
        </ul>
    </nav>

</body>
</html>
