﻿@{
    ViewBag.Title = "Put_Away";
   
}

<html>
<head>
    <h1>PUT AWAY</h1>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
   
    <style type="text/css">



        h1 {
        padding: -2em;
            text-shadow: 3px 3px 3px gray;
            font-family: initial;
            box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
            height: 40px;
            width: 930px;
            margin: 10px auto;
            margin-bottom: 25px;
        }

    table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
    }

    td {
        line-height: 22px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
    }

    tr:hover {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-style: italic;
        font-stretch: extra-expanded;
        font-family: 20px;
        /*transition-delay: .09s;*/
        color: white;
        background-color: darkgray;
        transition: all 0.1s ease-in-out;
        height: 60px;
    }

    th {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-weight: bold;
        font-variant-caps: all-petite-caps;
        font-size: 17px;
    }

   input, button {
        background: #5e9fd7;
        border-radius: 8px;
        color: white;
        font-variant-caps: all-petite-caps;
        }

            input:hover, button:hover {
            background: #38658d;
            
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }


    div#grad1 {
        border-radius: 10px;
        height: 200px;
        /*background: white;*/ /* For browsers that do not support gradients */
        background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
        width: 900px;
        height: auto;
        margin: 10px auto;

    }

    div#background {
        border-radius: 20px;
        margin-top: 10px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 930px;
        height: auto;
        position: center;
    }

    div.cd-popup-trigger {
        display: block;
        width: 170px;
        height: 50px;
        line-height: 50px;
        margin: 3em auto;
        text-align: center;
        color: #FFF;
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 50em;
        background: #35a785;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
    }

        div.cd-popup {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(94, 110, 141, 0.9);
            opacity: 0;
            visibility: hidden;
            -webkit-transition: opacity 0.3s 0s,;
        }
        
cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

        div.cd-popup-container {
            position: relative;
            width: 90%;
            max-width: 400px;
            margin: 4em auto;
            background: #FFF;
            border-radius: .25em .25em .4em .4em;
            text-align: center;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            -webkit-transform: translateY(-40px);
        }


    </style>
    <script type="text/javascript">

    function toggleOverlay() {
        var overlay = document.getElementById('overlay');
        var specialBox = document.getElementById('specialBox');
        overlay.style.opacity = .8;

        if (overlay.style.display == "block") {
            overlay.style.display = "none";
            specialBox.style.display = "none";
        } else {
            overlay.style.display = "block";
            specialBox.style.display = "block";
        }
    }

    </script>

    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js">

        jQuery(document).ready(function ($) {
            //open popup
            $('.cd-popup-trigger').on('click', function (event) {
                event.preventDefault();
                $('.cd-popup').addClass('is-visible');
            });

            //close popup
            $('.cd-popup').on('click', function (event) {
                if ($(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup')) {
                    event.preventDefault();
                    $(this).removeClass('is-visible');
                }
            });
            //close popup when clicking the esc keyboard button
            $(document).keyup(function (event) {
                if (event.which == '27') {
                    $('.cd-popup').removeClass('is-visible');
                }
            });
        });

    </script>

</head>


<body>

    @*<a href="#0" class="cd-popup-trigger">View Pop-up</a>*@

    @*<div class="cd-popup" role="alert">
        <div class="cd-popup-container">
            <p>Are you sure you want to delete this element?</p>
            <ul class="cd-buttons">
                <li><a href="#0">Yes</a></li>
                <li><a href="#0">No</a></li>
            </ul>
            <a href="#0" class="cd-popup-close img-replace">Close</a>
        </div> <!-- cd-popup-container -->
    </div> <!-- cd-popup -->*@


    <div id="background">
        <div id="grad1">
            <table>
                <tr>
                    <th>Item Name</th>
                    <th>Customer Name</th>
                    <th>Control Number</th>
                    <th>                    </th>
                </tr>
            </table>
        </div>



            <div id="grad1">
                <table>
                    <tr>
                        <td>January</td>
                        <td>$100</td>
                        <td>February</td>
                        <td><button>Confirm</button>
                        <input type="button" value="Delete" onclick="return confirm('Are you sure you want to delete?')"></td>
                    </tr>


                    <tr>
                        <td>January</td>
                        <td>$100</td>
                        <td>February</td>
                        <td><button>Confirm</button>
                            <input type="button" value="Delete" onclick="return confirm('Are you sure you want to delete?')"></td>
                    </tr>

                    <tr>
                        <td>January</td>
                        <td>$100</td>
                        <td>February</td>
                        <td><button>Confirm</button>
                            <input type="button" value="Delete" onclick="return confirm('Are you sure you want to delete?')"></td>
                    </tr>

                    <tr>
                        <td>January</td>
                        <td>$100</td>
                        <td>February</td>
                        <td><button>Confirm</button>
                            <input type="button" value="Delete" onclick="return confirm('Are you sure you want to delete?')"></td>
                    </tr>
                </table>
            </div>
        </div>

</body>
</html>

