﻿@model wms_mysql_.Models.room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Room_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X_Coordinate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X_Coordinate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y_Coordinate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y_Coordinate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Room_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
