﻿@model IEnumerable<wms_mysql_.Models.room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.X_Coordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Y_Coordinate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Room_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.X_Coordinate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Y_Coordinate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Room_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Room_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Room_ID })
        </td>
    </tr>
}

</table>
