﻿@model IEnumerable<wms_mysql_.Models.ordering>

@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    #textbox {
        border-radius: 5px;
        width: 250px;
        height: 33px;
        float: right;
        margin: 10px 10px 10px;
        color: gray;
        font-variant-caps: all-petite-caps;
    }

    table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
    }

    div#background {
            border-radius: 20px;
            margin-top: 10px;
            display: inline-block;
            background: #DCDCDC;
            flood-opacity: initial;
            width: 930px;
            height: auto;
            position: center;
        }

     div#grad1 {
            border-radius: 10px;
            /*background: white;*/ /* For browsers that do not support gradients */
            background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
            width: 900px; height: auto;
            margin: 10px auto;
        }

         div#grad2 {
            border-radius: 10px;
            /*background: white;*/ /* For browsers that do not support gradients */
            background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
            width: 900px; height: auto;
            margin: 10px auto;
        }

      td {
            line-height: 22px;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid darkgray;
            width: 900px;
        }

        tr:hover {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid darkgray;
            width: 900px;
            font-style: italic;
            font-stretch: extra-expanded;
            font-family: 20px;
            /*transition-delay: .09s;*/
            color: white;
            background-color: darkgray;
            transition: all 0.1s ease-in-out;
            height: 60px;
        }
        .button1 {
            border-radius: 5px;
            font-variant-caps: all-petite-caps;
            background: lightgray;
        }


        tr:hover {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid darkgray;
            width: 900px;
            font-style: italic;
            font-stretch: extra-expanded;
            font-family: 20px;
            /*transition-delay: .09s;*/
            color: white;
            background-color: darkgray;
            transition: all 0.1s ease-in-out;
            height: 60px;
        }

        th {

            padding: 8px;
            text-align: center;
            border-bottom: 1px solid darkgray;
            width: 900px;
            font-weight: bold;
            font-variant-caps: all-petite-caps;
            font-size: 17px;
        }
    
</style>


<h1>Ordering</h1>


@using (Html.BeginForm())
{   
}
@Html.Action("Details", "customers")
<div id="background">
    <div id="grad2">
        @using (Html.BeginForm())
        {
            @*<label>Customer Name</label>*@
    <input type="text" id="textbox"  name="textbox" onkeydown="if(event.keyCode==13){this.form.submit();}" placeholder="Customer Name:" />
        }

        <table>
            <tr>
                <th>
                    @Html.DisplayName("Item Name")
                </th>
                <th>
                    @Html.DisplayName("Customer Name")
                </th>
                <th>
                    @Html.DisplayName("Number of Items")
                </th>
                <th></th>
            </tr>
        </table>
    </div>

<div id="grad1">
    @foreach (var item in Model)
    {

        <table>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_of_Items)
                    @*<input type="text" id="txtlinequantity-<%: item.Number_of_order %>" name="txtlinequantity-<%: item.ProductID %>" value="" onchange="ChangeBrowseQuantity('txtlinequantity-<%: item.ProductID %>');" style="width:36px; border:3px solid Black;" class="BrowseQuantityTextBox" />*@
                </td>
                <td>
                    @using (Html.BeginForm("Confirm", "orderings", new { id = item.PutAway_Receiving_Control_ }, FormMethod.Post))
                    {
                        <input type="number" name="number_order" required />
                        <input type="submit" class="button1" value="Add" />

                    }

                </td>
            </tr>
        </table>
    @*</div>*@
    @*</div>*@
    }






