﻿@{
    ViewBag.Title = "WMS";
}
<html>
<head>
    <meta charset="utf-8"/>
    <title>Fixed Header</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <style type="text/css">

    body{ 
    background-image: url('https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg');
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-position: top; 
    font:black;
    margin: 0 auto;
        }

    *{
	margin: 0px; 
	padding: 0px;
    }

    body{
	font-family: Calibri;
	background-color: #FFF;
	padding: 80px;
    /*text-align: center;*/
    }

    h1{
    font-size: 13px;
    text-align: center;
	/*border-bottom: 2px solid #000;
    border-top: 2px solid #000;*/
	margin-bottom: 10px;
    /*width: 100%;
    box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
    }*/
    }
  

    /*#header {
    padding: 100px;
    }*/

    /* rules fornavigation menu */
/* ================================ */

ul#navmenu, ul.sub1, ul.sub2 {list-style-type: none;}

ul#navmenu li{
	width: 100px;
	text-align: center;
	position: relative;
	float: left;
	margin-right: 50px;
    margin-left: 50px;
    color: black;
    box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

ul#navmenu a{
	text-decoration: solid;
	display: block;
	width: 125px;
    position: center;
	height: 25px;
	line-height: 25px;
	background-color: #bdbdbd;
	border: 1px solid #494949;
	border-radius: 10px;
    color: black;
}

ul#navmenu li:hover > a { background-color: #FFF;}
ul#navmenu li:hover a:hover{background-color: #FFF;}

/*div#header-logo {
margin-left: 4px;
  float:right;
  max-width: 1300px;
  max-width: 50%;
  icon: inherit;
  margin:auto;
  display:block;
}*/
/*.pictureContainer{
width: 500px;
height: 500px;
overflow: hidden;
opacity: 30;
}

.pictureContainer img{
transition: transform .2s ease-in-out;
}

.pictureContainer img:hover{
transform: translate3d(-150px, 0px, 0px)
}*/
        div.image {
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        margin-top: -90px;
        width: 4000px;
        }


/*div#search-input {
list-style-type: none;
text-decoration: none;
margin-left: auto;
display: block;
width: 70px;
height: 25px;
line-height: 25px;
float:right;
}

#search input[type='text']{
    list-style-type: none;
text-decoration: none;
height: 24px;
border: 1px solid;
width: 200px;
border-radius: 10px;
}


.button-search {
list-style-type: none;
background-image: url('/imagesStatic/searchIconHover.png');
text-decoration: none;
margin-left: auto;
display: block;
width: 70px;
height: 25px;
line-height: 25px;
background-color: #bdbdbd;
border: 2px solid #494949;
border-radius: 10px;
float:inherit;
}

#search-form{
list-style-type: none;
float:right;
text-decoration: none;
}*/

/*footer {
border-bottom: 1px solid #000;
display: block;
}*/

.column-left{ float: left; width: 33%; text-align: center; margin-left: -6%;}
.column-center{ display: inline-block; width: 33%; text-align: center;}
.column-right{ float: right; width: 33%; text-align: center; margin-right: 6%;}


/*div#wrapperHeader {
 width:100%;
 background:url(https://s-media-cache-ak0.pinimg.com/236x/f9/2c/2e/f92c2e3e7c95ce6bdb2024838bc2bb51.jpg) repeat-x 0 0;
 text-align:;
 
}*/

/*#slideshow {
cursor: default;
list-style: none;
position: relative;
width: 296px;
height: 296px;
padding: 0px;
border: 1px solid #134BA4;
}*/

/*#slideshow > div {
position: absolute;
top: 7px;
left: 7px;
right: 7px;
bottom: 7px;
}

/*div.topdiv{
    display: block; 
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	color: black;
	padding: 8px;
    background: lightgray;
    text-align: right;
}*/
        div.content {
        display: inline-block;
        width: 70%;
        }

        div.table1 {
        display: inline-block;
        border: 3px solid lightgray;
        border-radius: 20px;
        background: white;
        width: 1000px;
        padding-left: 5em;
        text-align: left;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        margin-top: 10px;
        }

        div.table2 {
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: -30px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 1050px;
        height: auto;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        }

    </style>
</head>

<body background="https://s-media-cache-ak0.pinimg.com/736x/d0/ee/89/d0ee8955ee5b5f5ebe2f818e64177495.jpg">

    <div class="table2">
        <h1><img src="~/Content/Header with Logo_3.png" /></h1>

        <ul id="navmenu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Feedbacks</a></li>
        </ul>

        <div class="content">

            <div id="cp_widget_da1d9a2b-7828-4d92-ae28-1a7f72f4caa4">...</div>
            <script type="text/javascript">
                var cpo = []; cpo["_object"] = "cp_widget_da1d9a2b-7828-4d92-ae28-1a7f72f4caa4"; cpo["_fid"] = "AYGALd9TwGUE";
                var _cpmp = _cpmp || []; _cpmp.push(cpo);
                (function () {
                    var cp = document.createElement("script"); cp.type = "text/javascript";
                    cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                    var c = document.getElementsByTagName("script")[0];
                    c.parentNode.insertBefore(cp, c);
                })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting Platform</a> for Business solution.<span>New Gallery 2016/5/10</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 400</span><span>width</span><span> 600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 400</span><span>width</span><span> 600</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 600</span><span>height</span><span> 400</span></noscript>

            @*<div id="cp_widget_613bd492-8cf8-4ce8-8e5f-f9207813992f">...</div>
            <script type="text/javascript">
            var cpo = []; cpo["_object"] = "cp_widget_613bd492-8cf8-4ce8-8e5f-f9207813992f"; cpo["_fid"] = "A4GAVc92vH9x";
            var _cpmp = _cpmp || []; _cpmp.push(cpo);
            (function () {
            var cp = document.createElement("script"); cp.type = "text/javascript";
            cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
            var c = document.getElementsByTagName("script")[0];
            c.parentNode.insertBefore(cp, c);
            })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Hosting Platform</a> for Business solution.</noscript>*@

         </div>

        <div class="table1">
            <div class="container">

                <div class="column-left">
                    <font size="5" , font color="darkgray"><strong>Billing</strong></font>
                    <br>Billing is a process that is also included in Warehousing System. It bills the transactions based on the Client's needs.
                </div>

                <div class="column-center">
                    <font size="5" , font color="darkgray"><strong>Warehousing Sytem</strong></font>
                    <br>Warehousing system is a sytem that focus on warehouse operations. This includes Recieving, Put-away, Ordering, Picking and Issuance. Each functions plays a big role on the processing each items that came from the customers. It also includes other services like Warehouse Locator View, Warehouse Movement and Item Adjustments.
                </div>

                <div class="column-right">
                    <font size="5" , font color="darkgray"><strong>Customer Ordering</strong></font>
                    <br>Customer Ordering is another System that integrate's to iWMS. It's basic functions is the make ordering items from the storage easier for the client's customers.
                </div>

            </div>
        </div>

    </div>

</body>
</html>
