﻿@model wms_mysql_.Models.item

@{
    ViewBag.Title = "Create";
}


<style type="text/css">
     div.table {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                 background: linear-gradient(white, lightgray);
                width: 900px;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-top: 10px;
                text-align: left;
                border-top: 20px;
            }

     h2 {
        text-decoration:none;
        /*margin-left: 290px;*/
        text-shadow: 2px 2px 2px gray;
        color: black;
        padding: -1em;
        font-family: initial;
        text-align: center;
    }

     .button1 {
     display: block;
        border: 1px solid lightgray;
        background:  #1a83d3;
        width: 100px; height: 30px;
        color: black;
        margin-bottom: 30px;
        margin-right: 30px;
        border-radius: 8px;
        float: right;
        text-decoration-style: none;
        text-align: center;
        padding: 3px 3px;
    }
    .button1:hover{
        background: white;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="table">
        <h2>ITEM</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Item_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Item_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Item_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="button1" />
            </div>
        </div>
    </div>
        </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
