﻿
@{
    ViewBag.Title = "Ordering";
}

<html>
<head>
    <h1>ORDERING</h1>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    <style type="text/css">
        h1 {
            padding: -2em;
            text-shadow: 3px 3px 3px gray;
            font-family: initial;
            box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
            height: 40px;
            width: 930px;
            margin: 10px auto;
            margin-bottom: 25px;
        }

        table {
            border-collapse: collapse;
            /*width: 100%;*/
            width: 900px;
            position: center;
            box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        }

        td {
            line-height: 22px;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid darkgray;
            width: 900px;
        }

        tr:hover {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid darkgray;
            width: 900px;
            font-style: italic;
            font-stretch: extra-expanded;
            font-family: 20px;
            /*transition-delay: .09s;*/
            color: white;
            background-color: darkgray;
            transition: all 0.1s ease-in-out;
            height: 60px;
        }

        th {
            padding: 8px;
            text-align: center;
            border-bottom: 1px solid darkgray;
            width: 900px;
            font-weight: bold;
            font-variant-caps: all-petite-caps;
            font-size: 17px;
        }

        /*button {
            border-radius: 5px;
            font-variant-caps: all-petite-caps;
            font-weight: bold;
        }*/

        /*button:hover {
                border-radius: 5px;
                background: white;
            }*/

       button {
        background: #5e9fd7;
        border-radius: 8px;
        color: white;
        font-variant-caps: all-petite-caps;
        }

            button:hover {
            background: #38658d;
            
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            }


        div#grad1 {
            border-radius: 10px;
            /*background: white;*/ /* For browsers that do not support gradients */
            background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
            width: 900px; height: auto;
            margin: 10px auto;
        }

         div#grad2 {
            border-radius: 10px;
            /*background: white;*/ /* For browsers that do not support gradients */
            background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
            width: 900px; height: auto;
            margin: 10px auto;
        }

            div#grad2 p {
            font-weight: bold;
            text-align: right;
            margin-left: 20px;
            }

        div#background {
            border-radius: 20px;
            margin-top: 10px;
            display: inline-block;
            background: #DCDCDC;
            flood-opacity: initial;
            width: 930px;
            height: auto;
            position: center;
        }

       
            input {
            border-radius: 5px;
            width: 250px;
            height: 33px;
            float: right;
            margin: 10px 10px 10px;
            color: gray;
            font-variant-caps: all-petite-caps;
            }

        /*form {
        border-radius: 5px;
            width: 100px;
            height: 25px;
            /*float: right;*/
            /*margin: 10px 10px 10px;*/
            color: gray;
            font-variant-caps: all-petite-caps;
        }*/

            div.popup-position{
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0,0,0,0.7);
            width: 100%;
            height: 100%;
            display: none;
            }

            div#popup-wrapper{
            border: 1px solid black;
            background: white;
            width: 500px;
            margin: 70px auto;
            text-align: left;
            }

            div#overlay{
            width: 100%; height:100%;
            position: fixed;
            top: 0; left: 0;
            background: black;
            }

            div#box_frame{
            width: 100%;
            position: fixed;
            top: 30%;
            }

            div#box{
            width: 400%;
            padding: 10px;
            margin: auto;
            background-color: white;
            border: 3px solid black;
            font-size: 24px;
            }


     </style>

    <script type="text/javascript">
    <!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
-->

        //funciton open_box(message){
        //    var box_content = '<div id="overlay"><div id="box_frame"><div id="box">'+message+'<br /><a href="javascript:reset_dynamic()">Close</a></div></div></div>';
        //    document.getElementById('dynamic').innerHTML = box_content;
        //}

        //function reset_dynamic(){
        //    document.getElementById ('dynamic').innerHTML = '';
        //}
    </script>

</head>
<body>

    <div id="background">

        @*<a href="javascript:open_box('This is a simple message to display')">Open box</a>*@


        <div id="grad2">
            <input type="text" name="Search:" value="Enter Customer Name here:">
            <table>
                <tr>
                    <th>Customer Name</th>
                    <th>Control Number</th>
                    <th>Item Name</th>
                    <th>Items Available</th>
                    <th>                     </th>
                </tr>
            </table>
           
        </div>

        <div id="grad1">

            
            <table>
                <tr>
                    <td>Row1</td>
                    <td>Row1</td>
                    <td>Row1</td>
                    <td>Row1</td>
                    <td><button>Add</button> <button>Select all</button></td>
                </tr>


                <tr>
                    <td>Row2</td>
                    <td>Row2</td>
                    <td>Row2</td>
                    <td>Row2</td>
                    <td>
                    <button>add</button> <button>Select all</button></td>
                    
                </tr>

                <tr>
                    <td>Row3</td>
                    <td>Row3</td>
                    <td>Row3</td>
                    <td>Row3</td>
                    <td><button>add</button> <button>Select all</button></td>
                </tr>

                <tr>
                    <td>Row4</td>
                    <td>Row4</td>
                    <td>Row4</td>
                    <td>Row4</td>
                    <td><button>add</button> <button>Select all</button></td>
                </tr>

                <tr>
                    <td>Row5</td>
                    <td>Row5</td>
                    <td>Row5</td>
                    <td>Row5</td>
                    <td><button>add</button> <button>Select all</button></td>
                </tr>

            </table>
        </div>
    </div>

    @*<div id="popup-box1" class="popup-position">
        <div id="popup-wrapper">
            <div id="popup-container">
                <h3>DELETE</h3>
               

                @*<p><a href="javascript:void(0)" onclick=" toggle_visibility('popup-box1');">Close</a></p>
            </div>
        </div>
    </div>*@


   @*<div id="wrapper">
        <p><a href="javascript:void(0)" onclick=" toggle_visibility('popup-box1');">Open popup box 1</a></p>
    </div>*@
</body>
</html>

