﻿@model IEnumerable<wms_mysql_.Models.issuancelog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plate_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContainerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plate_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Temp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContainerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ControlNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ControlNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ControlNumber })
        </td>
    </tr>
}

</table>
