﻿@{
ViewBag.Title = "Receiving";
}
<html>
<head>
    <h1>RECEIVING</h1>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <style type="text/css">

        body {
        font-family: 'Times New Roman';
        text-space-collapse:preserve-breaks;
        font: black;
        }
     
        /*.boxed {
        border: 1px solid green;
        }*/

        /*div.boxed p{
        margin-left: 10%;
        float: left;
        text-align: left;
        font-size: 18px;
        width: 350px;
        }*/

        h1 {
        padding: -2em;
        text-shadow: 3px 3px 3px gray;
        font-family: initial;
        box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
        height: 40px;
        width: 930px;
        margin: 10px auto;
        margin-bottom: 10px;
        }

        h4 {
        text-decoration:none;
        margin-left: 290px;
        text-shadow: 2px 2px 2px gray;
        color: black;
        padding: -1em;
        font-family: initial;
        }

        /*#wrapper{
	    padding: 25px 15px 10px 10px;
        width: 80%;
	    background: white;
	    opacity: 0.6;
	    color: black;
        text-align: left;
        margin: 0 auto 0 auto;
        /*text-shadow: 20px 12px 20px #333*/
         /*box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
        }*/
        /*div#c{
        display: block;
        float: left;
        width: 33%;
        padding: 25px 15px 10px 10px;
        width: 20px;
	    background: white;
	    opacity: 0.6;
	    color: black;
        text-align: left;
        margin: 0 auto;
        /*text-shadow: 20px 12px 20px #333*/
 /*/*div.column-left{
            float: left;
            width: 40%;
            display: block;
            border: 1px solid lightgray;
            background: white;
            opacity: 0.6;
            color: black;
            box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
            }*/

 /*div#column-right{ 
        float: right;
        width: 40%;
        display: block;
        border: 1px solid lightgray;
        background: white;
        opacity: 0.6;
        color: black;
        box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
        }*/

 /*fieldset.field1 {
        display: block;
        }*/

 /*fieldset.field1 {
            width: 40%;
            display: block;
            border: 1px solid lightgray;
            background: white;
            float: left;
            margin: auto;
            padding-left: 2em;
        
            }

            fieldset.field2 {
            width: 40%;
            display: block;
            border: 1px solid lightgray;
            background: white;
            float: right;
            margin: auto;
            padding: 4px 7px;
            }*/
/*fieldset.field1 { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
}*/
/*fieldset.divider{
        width:30px;
        border: 2px solid #00F;
        border-radius: 8px;
        background: url(fieldsetbg.jpg) no-repeat left top;
        }*/

        .field1{
        width: 300px;
        position: center;
        display: block;
        border: 5px solid blue;
        border-radius: 8px;
        background: red;
        float: right;
        }

        div.table {
        display: inline-block;
        border: 3px solid lightgray;
        border-radius: 20px;
        background: white;
        width: 900px;
        padding-left: 5em;
        text-align: left;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        margin-top: 10px;
        }

        div.table2 {
        display: inline-block;
        border: 3px solid lightgray;
        border-radius: 20px;
        background: white;
        width: 900px;
        padding-left: 5em;
        text-align: left;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        margin-bottom: 10px;
        }

        div.table3 {
        border-radius: 20px;
        margin-top: 10px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 930px;
        height: auto;
        position: center;
        }

        div.table table2 p {
        font-family: 'Lucida Sans Unicode';
        }

        input {
        border-radius: 5px;
        width: 250px;
        height: 30px;
        margin-left: 8px;
        color: black;
        font-variant-caps: all-petite-caps;
        }
/*#search input[type='text']{
        list-style-type: none;
        text-decoration: none;
        height: 26px;
        border: 1px solid;
        width: 200px;
        border-radius: 10px;
        margin-left: 4px;
        font-family: 'Lucida Sans Unicode';
        }*/

        div.popup-position{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        display: none;
        }

        div#popup-wrapper{        
        width: auto;
        height: auto;
        margin: 70px 70px;
        text-align: center;
        }

        button {
        border-radius: 5px;
        font-variant-caps: all-petite-caps;
        }

        button:hover {
        border-radius: 5px;
        transition: all 0.9s ease-in-out;
        }

         table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
        }

        td {
        line-height: 22px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
        }

        tr:hover {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-style: italic;
        font-stretch: extra-expanded;
        font-family: 20px;
        /*transition-delay: .09s;*/
        color: white;
        background-color: darkgray;
        transition: all 0.1s ease-in-out;
        height: 60px;
        }

        th {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-weight: bold;
        font-variant-caps: all-petite-caps;
        font-size: 17px;
        }

          div#grad1 {
        border-radius: 10px;
        height: 200px;
        /*background: white;*/ /* For browsers that do not support gradients */
        background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
        width: 900px;
        height: auto;
        margin: 10px auto;
        
        }

        div#background {
        border-radius: 20px;
        margin-top: 10px;
        display: inline-block;
        background: #DCDCDC;
        flood-opacity: initial;
        width: 930px;
        height: auto;
        position: center;
        }

        label {
        display: block;
        border: 1px solid lightgray;
        background: lightgray;
        width: 100px; height: 30px;
        color: black;
        margin-bottom: 30px;
        margin-right: 30px;
        border-radius: 8px;
        float: right;
        text-decoration-style: none;
        text-align: center;
        padding: 3px 3px;
        }

        label:hover {
        background: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }


        a {
         text-decoration: none;
         color: black;
         font-family: inherit;
         font-size: 13px;
        }
        a:hover {
        text-decoration: none;
        box-decoration-break: slice;
        color: black;
        }
        form {
        float: right;
        /*margin-left: -10px;*/
        font-weight: bolder;
        font-size: 50px;
        color: white;
        margin: 0;
        }

        form a {
            color: white;
        }


</style>

    <script type="text/javascript">

    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }


    </script>
</head>

<body>

    <div class="table3">
        <div class="table">
            <p>
                <strong>
                    <br>Customer Name: <input id="input" name="input" type="text">
                    <br>
                    <br>Column Name:
                </strong>
            </p>
        </div>

        <div class="table2">
            <p>
                <strong>

                    <h4>RECEIVING DETAILS</h4>
                    <br>Items:
                    <br>
                    <br>Control Number: (Generated Codes)
                    <br>
                    <br>No.of Items:
                    <br>
                    <br>Package type:
                    <br>
                    <br>Remarks: <input id="input" name="input" type="text">
                    <br>
                </strong></p>
                
                        <div id="wrapper">
                        <label><a href="javascript:void(0)" onclick="toggle_visibility('popup-box1');">SUBMIT</a></label>
                        </div>
        </div>
    </div>
        
   

    <div id="popup-box1" class="popup-position">
        <div id="popup-wrapper">
            <div id="popup-container">

                <form><p><a href="javascript:void(0)" onclick="toggle_visibility('popup-box1');">CLOSE</a></p></form>
                <br>
               <div id="background">
                    <div id="grad1">
                        
                        <table>
                            <tr>
                                <th>Receiving table</th>
                                <th>customer name:</th>
                                <th>Item Name:</th>
                                <th>Package Type:</th>
                                <th>No. of Items</th>
                                <th>No. of Items Received</th>
                            </tr>
                        </table>
                    </div>
                   
                    <div id="grad1">
                        <table>
                            <tr>
                                <td>January</td>
                                <td>$100</td>
                                <td>February</td>
                                <td><button>Confirm</button></td>
                            </tr>

                            <tr>
                                <td>January</td>
                                <td>$100</td>
                                <td>February</td>
                                <td><button>Confirm</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

