﻿@model wms_mysql_.Models.putaway

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>putaway</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiving.Batch_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiving.Batch_Code)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Receiving_Control_ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
