﻿@model wms_mysql_.Models.issuance
<style type="text/css">
     div.table4 {
                border-radius: 50px;
                margin-top:1%;
                margin-left:10%;
                margin-right:5%;
                display: inline-block;
                background: #DCDCDC;
                flood-opacity: initial;
                width: 500px;
                height: 630px;
                position: center;
                height:auto;
                text-align:center;
                text-decoration:solid;
            }
    dt .control1{
         text-decoration:solid;
         text-emphasis-color:#3870d4;
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         
     }
     dd.control{
         text-decoration:solid;
         font:italic;
         font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         font-size:larger;
         
     }
</style>
<div>
    <div class="table4">
        <h2>Issuance Details</h2>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Customer Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_Name)
            </dd>
            <dt>
                @Html.DisplayName("Customer ID")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer_ID)
            </dd>

            <dt>
                @Html.DisplayName("Item Name")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item_Name)
            </dd>

            <dt>

                @Html.DisplayName("Item  ID")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Item_ID)
            </dd>

            

            @*<dt>
                @Html.DisplayNameFor(model => model.Picker_Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Picker_Name)
            </dd>*@

            

            

            @*<dt>
                @Html.DisplayNameFor(model => model.Number_of_Items)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Number_of_Items)
            </dd>*@
            <dt class="control1">
                @Html.DisplayName("Control #")
            </dt>

            <dd class="control">
                @Html.DisplayFor(model => model.Picking_Ordering_PutAway_Receiving_Control_)
            </dd>

        </dl>
    </div>
</div>
<p>
</p>
