﻿@model IEnumerable<wms_mysql_.Models.issuance>
<style type="text/css">
    h1 {
        padding: -2em;
            text-shadow: 3px 3px 3px gray;
            font-family: initial;
            box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
            height: 40px;
            width: 930px;
            margin: 10px auto;
            margin-bottom: 25px;
        }

    table {
        border-collapse: collapse;
        /*width: 100%;*/
        width: 900px;
        position: center;
        box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
    }

    td {
        line-height: 22px;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid darkgray;
        width: 900px;
    }

    tr:hover {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid darkgray;
        width: 900px;
        font-style: italic;
        font-stretch: extra-expanded;
        font-family: 20px;
        /*transition-delay: .09s;*/
        color: white;
        background-color: darkgray;
        transition: all 0.1s ease-in-out;
        height: 60px;
    }

    th {
        background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
        border: 1px solid #B0B0B0;
        color: #444;
        font-size: 16px;
        font-weight: bold;
        padding: 3px 10px;
        text-align:center;
    }
    
    /*------------------------------------------------------------------------------------------------------------------------*/
    div.popup-position {
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(0,0,0,0.7);
                width: 100%;
                height: 100%;
                display: none;
            }

            div#popup-wrapper {
                width: auto;
                height: auto;
                margin: 70px 70px;
                text-align: center;
            }

            button {
                border-radius: 5px;
                font-variant-caps: all-petite-caps;
            }

                button:hover {
                    border-radius: 5px;
                    transition: all 0.9s ease-in-out;
                }

            table {
                border-collapse: collapse;
                /*width: 100%;*/
                width: 900px;
                position: center;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                div #grad1;

            {
                border-radius: 10px;
                height: 200px;
                /*background: white;*/ /* For browsers that do not support gradients */
                background: linear-gradient(white, lightgray); /* Standard syntax (must be last) */
                width: 900px;
                height: auto;
                margin: 10px auto;
            }

            div#background {
                border-radius: 20px;
                margin-top: 10px;
                display: inline-block;
                background: #DCDCDC;
                flood-opacity: initial;
                width: 930px;
                height: auto;
                position: center;
            }

            label {
                display: block;
                border: 1px solid lightgray;
                background: lightgray;
                width: 100px;
                height: 30px;
                color: black;
                margin-bottom: 30px;
                margin-right: 30px;
                border-radius: 8px;
                float: right;
                text-decoration-style: none;
                text-align: center;
                padding: 3px 3px;
            }

                label:hover {
                    background: white;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                }


            a {
                text-decoration: none;
                color: black;
                font-family: inherit;
                font-size: 13px;
            }

                a:hover {
                    text-decoration: none;
                    box-decoration-break: slice;
                    color: black;
                }

            form {
                float: right;
                /*margin-left: -10px;*/
                font-weight: bolder;
                font-size: 50px;
                color: white;
                margin: 0;
            }

                form a {
                    color: white;
                }
</style>
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if (e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
   
</script>
</style>
<h1>Issuance</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Customer Name")
        </th>
        <th>
            @Html.DisplayName("Item Name")
        </th>
        <th>
            @Html.DisplayName("Control#")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Name)
        </td>
        <td>
                        @using (Html.BeginForm("Create", "issuances",FormMethod.Post, new { id = item.Picking_Ordering_PutAway_Receiving_Control_}))
            {
                using (Html.BeginForm("table", "issuances", FormMethod.Post, new { id = item.Picking_Ordering_PutAway_Receiving_Control_ }))
                {}
            using (Html.BeginForm("Details", "issuances", FormMethod.Post, new { id = item.Customer_ID}))
            {
                <button onclick="toggle_visibility('popup-box1')"><a href="@Url.Action("Create", "issuances", new {id=item.Picking_Ordering_PutAway_Receiving_Control_})">@Html.DisplayFor(modelItem => item.Picking_Ordering_PutAway_Receiving_Control_)</a></button>
            }
            }
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Picking_Ordering_PutAway_Receiving_Control_ }) |
            @Html.ActionLink("Details", "Details", new { id=item.Picking_Ordering_PutAway_Receiving_Control_ }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Picking_Ordering_PutAway_Receiving_Control_ })
        </td>*@
    </tr>
}
</table>
