﻿@model IEnumerable<wms_mysql_.Models.issuance>
<style type="text/css">
    tr, table, th, td {
        border: 10px thick;
        border-collapse: collapse;
        padding: 7px;
        border-spacing: 5px;
    }

    td {
        padding: 15px;
    }

        tr:hover, td:hover {
            background-color: #6e7f9d;
        }

    th {
        background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
        border: 1px solid #B0B0B0;
        color: #444;
        font-size: 16px;
        font-weight: bold;
        padding: 3px 10px;
        margin-right:20px;
    }
</style>
<script type="text/javascript">
    $(function () {

        $('#action-save').bind('click', function (event) {
            $('#myform').submit();
            return false;
        });

    });
</script>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_of_Items)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Item_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_of_Items)
        </td>
        <td>
            @using (Html.BeginForm("Confirm", "issuances", FormMethod.Post, new { id=item.Picking_Ordering_PutAway_Receiving_Control_, columnid = item.column_ID, columnname = item.column_name }))
            {
                <input type="submit" value="Close Transaction" onclick="@Url.Action("Confirm", "issuances", new { id = item.Picking_Ordering_PutAway_Receiving_Control_, columnid = item.column_ID, columnname = item.column_name })" />
            }
            
             @*@Html.ActionLink("Confirm", "Confirm", new { id = item.Picking_Ordering_PutAway_Receiving_Control_ }, new { @class = "btn btn-primary", @style = "color:white" })*@
        </td>
    </tr>
}

</table>
