﻿@model wms_mysql_.Models.customer

@{
    ViewBag.Title = "Create";
}
<style type="text/css">
     div.table {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                 background: linear-gradient(white, lightgray);
                width: 900px;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-top: 10px;
                text-align: left;
                border-top: 20px;
            }

            /*div.table2 {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                background: white;
                width: auto;
                height:auto;
                margin: 20px;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-bottom: 10px;
            }*/

             div.table3 {
                border-radius: 20px;
                margin-top: 10px;
                display: inline-block;
                background: #DCDCDC;
                flood-opacity: initial;
                width: 930px;
                height: 630px;
                position: center;
                height: auto;
                text-align: left;
            }

            div.box{
                margin-left:10%;
            }

    h2 {
        text-decoration:none;
        margin-left: 290px;
        text-shadow: 2px 2px 2px gray;
        color: black;
        padding: -1em;x
        font-family: initial;
    }

    .button1 {
     display: block;
        border: 1px solid lightgray;
        background:  #1a83d3;
        width: 100px; height: 30px;
        color: black;
        margin-bottom: 30px;
        margin-right: 30px;
        border-radius: 8px;
        float: right;
        text-decoration-style: none;
        text-align: center;
        padding: 3px 3px;
    }
    .button1:hover{
        background: white;
    }

        div.form-group1:hover {
        background: white;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }


</style>
@*<h2>Create</h2>*@


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="table3">
        <div class="table">
            <h2>CREATE DEPOSITOR</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                @Html.LabelFor(model => model.Customer_Name,"Depositor Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" }) <br>
                    </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Customer_Contact_Number,"Contact Number", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Customer_Contact_Number, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Customer_Contact_Number, "", new { @class = "text-danger" }) <br>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email_address,"Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email_address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email_address, "", new { @class = "text-danger" }) <br>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="button1" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
