﻿@model IEnumerable<wms_mysql_.Models.customer>
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    table {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                background: white;
                width: 900px;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-top: 10px;
                text-align:left;
                border-top:20px;
            }

            table2 {
                display: inline-block;
                border: 3px solid lightgray;
                border-radius: 20px;
                background: white;
                width: 900px;
                height:auto;
                padding-left: 5em;
                text-align: left;
                box-shadow: 5px 8px 15px 6px rgba(0,0,0,0.2);
                margin-bottom: 10px;
            }

            table3 {
                border-radius: 20px;
                margin-top: 10px;
                display: inline-block;
                background: #DCDCDC;
                flood-opacity: initial;
                width: 930px;
                height: 630px;
                position: center;
                height:auto;
                text-align:left;
            }
</style>
<h2>Index</h2>
<script type="text/javascript">
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using(Html.BeginForm())
{
    <b>Customer Name:</b>
    @Html.TextBox("Search", null, new { id="txtsearch"})
    <input type="submit" value="search>" />
}
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.ui.autocomplete.js"></script>
    <script src="~/Scripts/jquery.ui.autocomplete.min.js"></script>
</head>

<body>
    <input id="automplete-2">
    <table class="table2">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer_Contact_Number)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer_Contact_Number)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Customer_ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Customer_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Customer_ID })
                </td>
            </tr>
        }

    </table>
    
    $(function () {
        var availableTutorials = [
           "ActionScript",
           "Boostrap",
           "C",
           "C++",
        ];
    <script type="text/javascript">
    $("#automplete-1").autocomplete({
        source: availableTutorials
    });
    
    </script>



</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.autocomplete.min.js")" type="text/javascript"></script>


}