﻿
@{
    ViewBag.Title = "Issuance";
}
<html>
<head>
<title><h2>Issuance</h2></title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <style type="text/css">
        h2 {
            padding: -2em;
            text-shadow: 3px 3px 3px gray;
            font-family: initial;
            box-shadow: 15px 8px 15px 3px rgba(0,0,0,0.2);
            height: 40px;
            width: 930px;
            margin: 10px auto;
            margin-bottom: 25px;
        }

</style>
</head >

<body >
    
</body >
</html >
